{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">

    {% for skill in skills.area %}
      <div class="item">

        <h3 class="level-title">{{ skill.name }}</h3>
        <hr>
          <ul>
          {% for item in skill.items %}
            <li class="level-item">{{ item.name }}</li>
          {% endfor %}
            </ul>

      </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
